resources/Published_web_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Published_web_service" targetNamespace="https://www.tieka.nl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="https://www.tieka.nl">
  <wsdl:types>
    <xsd:schema targetNamespace="https://www.tieka.nl">
      <xsd:element name="SUB_Webservice_Respond">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SUB_Webservice_RespondResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Name">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="authentication">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SUB_Webservice_RespondRequest">
    <wsdl:part name="request_header" element="tns:authentication" />
    <wsdl:part name="parameters" element="tns:SUB_Webservice_Respond" />
  </wsdl:message>
  <wsdl:message name="SUB_Webservice_RespondResponse">
    <wsdl:part name="result" element="tns:SUB_Webservice_RespondResponse" />
  </wsdl:message>
  <wsdl:portType name="Published_web_servicePortType">
    <wsdl:operation name="SUB_Webservice_Respond">
      <wsdl:documentation>test</wsdl:documentation>
      <wsdl:input message="tns:SUB_Webservice_RespondRequest" />
      <wsdl:output message="tns:SUB_Webservice_RespondResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Published_web_serviceSoap" type="tns:Published_web_servicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SUB_Webservice_Respond">
      <soap:operation soapAction="https://www.tieka.nlSUB_Webservice_Respond" />
      <wsdl:input>
        <soap:header message="tns:SUB_Webservice_RespondRequest" part="request_header" use="literal" />
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Published_web_service">
    <wsdl:port name="Published_web_servicePort" binding="tns:Published_web_serviceSoap">
      <soap:address location="http://localhost:8080/ws/Published_web_service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>